:root {
	--svelte-orange: #ff3e00;
	--threejs-black: #444444;
	--canvas-overlay: #00000088;
	--canvas-overlay-hover: #00000055;
	--top-nav-height: 3rem;
}

* {
	box-sizing: border-box;
}

html,
body,
#svelte-body {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Overpass', Verdana, Geneva, Tahoma, sans-serif;
}

.control-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0.75rem;
	font-size: 0.875rem;
}

.control-group > label {
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.control-group label.vec3 {
	flex-direction: column;
	width: 25%;
}
input.vec3 {
	display: block;
	width: 3rem;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track {
	background: var(--threejs-black);
}

::-webkit-scrollbar-thumb {
	background: #fafbfc35;
	opacity: 0.5;
}
