:root {
	--svelte-orange: #ff3e00;
	--threejs-black: #444444;
	--canvas-overlay: #00000088;
	--canvas-overlay-hover: #00000055;
	--top-nav-height: 3rem;
	--accent: #007d7d;
}

* {
	box-sizing: border-box;
}

html,
body,
#svelte-body {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Overpass', Verdana, Geneva, Tahoma, sans-serif;
}

.control-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0.75rem;
	font-size: 0.875rem;
}

.control-group > label {
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.control-group label.vec3 {
	flex-direction: column;
	width: 25%;
}
input.vec3 {
	display: block;
	width: 3rem;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track {
	background: var(--threejs-black);
}

::-webkit-scrollbar-thumb {
	background: var(--svelte-orange);
	opacity: 0.5;
}

.dialog{
	background-color: var(--canvas-overlay) !important;
	padding: 0 !important;
	border: none !important;
	box-shadow: 2px 2px 18px black !important;
}

.dialog-backdrop {
	animation: FadeIn 200ms ease 0s 1 forwards;
}

@keyframes FadeIn {
	from {
		opacity: 0;
	};

	to {
		opacity: 1;
	}
}